.custom-dropdown {
width: 100%;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
border: 1px solid #d1d5db;
border-radius: 0.5rem;
text-align: left;
background-color: white;
display: flex;
align-items: center;
justify-content: space-between;
outline: none;
transition: all;
}
.custom-dropdown:hover {
border-color: #9ca3af;
}

.custom-dropdown:focus {
border-color: black;
}

.dropdown-menu {
position: absolute;
z-index: 10;
margin-top: 0.25rem;
width: 100%;
background-color: white;
border: 1px solid #e5e7eb;
border-radius: 0.5rem;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
max-height: 15rem;
overflow: auto;
}

.dropdown-item {
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
color: #111827;
cursor: pointer;
transition: color;
}

.dropdown-item:hover {
background-color: #f3f4f6;
}

.rotate-180 {
transform: rotate(180deg);
}

input:focus,
textarea:focus {
border-color: black;
outline: none;
box-shadow: none !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
cursor: pointer;
}
