@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-sans: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: "RocaTwo", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-arabic-serif: "Zain", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-arabic-sans: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* colors */
  --color-red: #cf746b;
  --color-light-red: #dc8279;
  --color-dark-red: #d86464;
  --color-yellow-green: #5c700c;
  --color-green: #8d9765;
  --color-light-green: #e6ebd1;
  --color-blue: #4c74b1;
  --color-light-blue: #7495cb;
  --color-dark-blue: #2d314b;
  --color-purple: #7e6597;
  --color-light-purple: #f8f1ff;
  --color-brown: #755946;
  --color-beige: #e4d7d7;
  --color-orange: #e89d62;
  --color-vivid-orange: #f86266;
  --color-light-orange: #ebddd7;
  --color-gray: #f0eee9;
  --color-light-gray: #f4f5f2;
  --color-extra-light: #f8f9f9;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #1f2122;
  --color-grad-start: #a6c0fe;
  --color-grad-end: #f68084d6;
  --background-image-primary-gradient: linear-gradient(120deg, var(--color-grad-start) 0%, var(--color-grad-end) 100%);
}

@theme {
  /* fonts */
  --font-sans: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: "RocaTwo", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-arabic-serif: "Zain", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-arabic-sans: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* colors */
  --color-red: #cf746b;
  --color-light-red: #dc8279;
  --color-dark-red: #d86464;
  --color-yellow-green: #5c700c;
  --color-green: #8d9765;
  --color-light-green: #e6ebd1;
  --color-blue: #4c74b1;
  --color-light-blue: #7495cb;
  --color-dark-blue: #2d314b;
  --color-purple: #7e6597;
  --color-light-purple: #f8f1ff;
  --color-brown: #755946;
  --color-beige: #e4d7d7;
  --color-orange: #e89d62;
  --color-vivid-orange: #f86266;
  --color-light-orange: #ebddd7;
  --color-gray: #f0eee9;
  --color-light-gray: #f4f5f2;
  --color-extra-light: #f8f9f9;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #1f2122;
  --color-grad-start: #a6c0fe;
  --color-grad-end: #f68084d6;
  --background-image-primary-gradient: linear-gradient(120deg, var(--color-grad-start) 0%, var(--color-grad-end) 100%);
}

@font-face {
  font-family: Poppins;
  src: url(/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: RocaTwo;
  src: url(/fonts/roca-two/roca-two-regular.ttf);
}

@font-face {
  font-family: Zain;
  src: url(../public/fonts/zain/Zain-Regular.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../public/fonts/rubik/Rubik-VariableFont_wght.ttf);
}

:dir(ltr) h1,
:dir(ltr) h2,
:dir(ltr) h3,
:dir(ltr) h4,
:dir(ltr) h5,
:dir(ltr) h6 {
  font-family: var(--font-serif);
}

:dir(rtl) h1,
:dir(rtl) h2,
:dir(rtl) h3,
:dir(rtl) h4,
:dir(rtl) h5,
:dir(rtl) h6 {
  font-family: var(--font-arabic-serif);
}