@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-sans: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: "RocaTwo", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-arabic-serif: "Zain", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-arabic-sans: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* colors */
  --color-red: #cf746b;
  --color-light-red: #dc8279;
  --color-dark-red: #d86464;
  --color-yellow-green: #5c700c;
  --color-green: #8d9765;
  --color-light-green: #e6ebd1;
  --color-blue: #4c74b1;
  --color-light-blue: #7495cb;
  --color-dark-blue: #2d314b;
  --color-purple: #7e6597;
  --color-light-purple: #f8f1ff;
  --color-brown: #755946;
  --color-beige: #e4d7d7;
  --color-orange: #e89d62;
  --color-vivid-orange: #f86266;
  --color-light-orange: #ebddd7;
  --color-gray: #f0eee9;
  --color-light-gray: #f4f5f2;
  --color-extra-light: #f8f9f9;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #1f2122;
  --color-grad-start: #a6c0fe;
  --color-grad-end: #f68084d6;
  --background-image-primary-gradient: linear-gradient(120deg, var(--color-grad-start) 0%, var(--color-grad-end) 100%);

  --shadow-primary-gradient: 0 4px 14px 0 rgba(166, 192, 254, 0.4), 0 4px 14px 0 rgba(246, 128, 132, 0.4);

  /* SVG Clip Path Variables */
  --clipped-card-svg-path-ltr: "M670 0H0V91C0 102.046 8.9543 111 20 111H518.641C526.216 111 533.14 106.721 536.529 99.9469L570.988 31.0531C574.377 24.2789 581.301 20 588.875 20H650C661.046 20 670 11.0457 670 0Z";
}

@theme {
  /* fonts */
  --font-sans: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: "RocaTwo", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-arabic-serif: "Zain", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-arabic-sans: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* colors */
  --color-red: #cf746b;
  --color-light-red: #dc8279;
  --color-dark-red: #d86464;
  --color-yellow-green: #5c700c;
  --color-green: #8d9765;
  --color-light-green: #e6ebd1;
  --color-blue: #4c74b1;
  --color-light-blue: #7495cb;
  --color-dark-blue: #2d314b;
  --color-purple: #7e6597;
  --color-light-purple: #f8f1ff;
  --color-brown: #755946;
  --color-beige: #e4d7d7;
  --color-orange: #e89d62;
  --color-vivid-orange: #f86266;
  --color-light-orange: #ebddd7;
  --color-gray: #f0eee9;
  --color-light-gray: #f4f5f2;
  --color-extra-light: #f8f9f9;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #1f2122;
  --color-grad-start: #a6c0fe;
  --color-grad-end: #f68084d6;
  --background-image-primary-gradient: linear-gradient(120deg, var(--color-grad-start) 0%, var(--color-grad-end) 100%);
  --shadow-primary-gradient: var(--shadow-primary-gradient);

  --color-primary: var(--color-black);
  --color-primary-foreground: var(--color-white);
  --color-background: var(--color-white);
  --color-muted: var(--color-gray);
  --color-muted-foreground: var(--color-gray);
  --color-card: var(--color-white);
  --color-card-foreground: var(--color-gray);
  --color-border: var(--color-gray);
  --color-input: var(--color-gray);
  --color-input-foreground: var(--color-gray);
  --color-text: var(--color-gray);
  --color-text-foreground: var(--color-gray);


}

[dir="rtl"] {
  --clipped-card-svg-path-default: var(--clipped-card-svg-path-rtl);
}

[dir="ltr"] {
  --clipped-card-svg-path-default: var(--clipped-card-svg-path-ltr);
}

@font-face {
  font-family: Poppins;
  src: url(/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: RocaTwo;
  src: url(/fonts/roca-two/roca-two-regular.ttf);
}

@font-face {
  font-family: Zain;
  src: url(../public/fonts/zain/Zain-Regular.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../public/fonts/rubik/Rubik-VariableFont_wght.ttf);
}

:dir(ltr) h1,
:dir(ltr) h2,
:dir(ltr) h3,
:dir(ltr) h4,
:dir(ltr) h5,
:dir(ltr) h6 {
  font-family: var(--font-serif);
}

:dir(rtl) h1,
:dir(rtl) h2,
:dir(rtl) h3,
:dir(rtl) h4,
:dir(rtl) h5,
:dir(rtl) h6 {
  font-family: var(--font-arabic-serif);
}