@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@import "tailwindcss";
/* Base Styles */
* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
}

body {
  @apply antialiased;
}

/* Custom Focus Ring - Cohere Style */
input:focus,
button:focus {
  @apply outline-none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

.custom-tab {
  background: white;
  border: none;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/* البوردر اللي ماشي على الخط المائل */
.custom-tab::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: inherit;
  border: 2px solid #d1d5db; /* default */
  border-radius: 6px;
  z-index: -1;
}

/* Active */
.active-tab {
  color: #39594d;
  font-weight: bold;
}

.active-tab::before {
  border-color: #39594d;
}

/* Inactive */
.inactive-tab {
  color: #a0a0a0;
}
.bg-primary-gradient {
  background: linear-gradient(135deg, #39594d 0%, #5c8d7b 100%);
  color: white;
}
